name: Manually publish to crate registry

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to publish'
        required: true
        type: string

jobs:
  crate:
    name: Publish Musket to crates.io
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.tag }}
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo publish --token ${CARGO_REGISTRY_TOKEN}
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}